*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.heading{
    text-align: center;
    color: rgb(228, 110, 179);
    font-style: oblique;
    font-family: serif;
    font-weight: bold;
    font-size: x-large
}
body{
    background-image: url(shr.jpg);
    margin-top: 50px;

    

}
input{
    width: 50vh;
    height: 5vh;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;

}

.container-input{
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 110vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 150px;
    height: 40vh;
    justify-content: center;
    font-size: large;
    line-height: 1.5cm;
    margin-top: 3cm;

}

#button{
    width:15vh;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(100, 46, 122);
    color: white;
    border: none;
    margin-top: 10px;
}

.container-result{
    display: flex;
    flex-direction: column;
    margin: 10px 150px;
    height: 40vh;
    justify-content: center;
    font:'rubik',sans-serif;
    font-size:x-large;
    line-height: 2cm;
}

.container-result-date{
    display: flex;
}

.container-result-ovulation-date{
    display: flex;
}

.container-result-fertility-period{
    display: flex;
}

#resutl{
    padding-left: 10px;
    color: rgb(0, 0, 0);
}

#result-ovulation{
    padding-left: 10px;
    color: black;
}



